body {
    margin: 0;
    font-family: Arial;
    background-color: rgb(83, 33, 141);
}

.box {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 120px auto;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
}

h2 {
    color: #333;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}