body {
    margin: 0;
    font-family: Arial;
<<<<<<< HEAD
    background-color: rgb(51, 36, 112);
=======
    background-color: rgb(83, 85, 185);
>>>>>>> dc2c3e07ea329fa37b9494044ad373780a9b7017
}

.box {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 120px auto;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;
}

h2 {
    color: #333;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
<<<<<<< HEAD
}
=======
}
>>>>>>> dc2c3e07ea329fa37b9494044ad373780a9b7017
